extends layout

block content
  h1 Ajax File Upload Samples
  ul(style='font-size:24px')
    li
      a(href='/upload_1.html') Simple Upload
    li
      a(href='/upload_2.html') Simple Upload with customized buttons
    li
      a(href='/upload_3.html') Ajax Upload with Progress
    li
      a(href='/upload_4.html') Ajax Upload with Progress & Drag and Drop